#alo {
    text-align: center;
    font-size: 100px;
color: aquamarine;
cursor: pointer;
}

#le {
    text-align: center;
    font-size: 25px;
color: rgb(0, 112, 176);

}
/* #b{
    margin-left: 50%;
} */